@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  width: 100%;
}

body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  background: #0D192C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #15263F;
  max-width: 20.4375rem;
  border-radius: 0.9375rem;
  padding: 1.5rem;
}

.container__img {
  margin-bottom: 1.5rem;

}

.container__img img {
  border-radius: 8px;

}

.container__title {
  font-size: 1.375rem;
  font-weight: 600;
  color: #FFF;
  margin-bottom: 0.75rem;
}

.container__paragraph {
  font-size: 1.125rem;
  color: #8BACD9;
  margin-bottom: 1rem;
  font-weight: 300;
}

.container__info-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 0.9375rem;
  margin-bottom: 1rem;
}

.container__price-wrapper,
.container__deadline-wrapper {
  display: flex;
  align-items: center;
  gap: 7px
}

.container__price-wrapper img,
.container__deadline-wrapper img {
  width: initial;
}

.container__price-wrapper p {
  color: #00FFF8;
}

.container__deadline-wrapper p {
  color: #8BACD9;
}

hr {
    height: 1px;
    background-color: #2E405A;
    border: none;
    margin-bottom: 1rem;
}

.container__avatar-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.container__avatar {
  max-width: 2.0625rem;
}

.container__author {
  color: #8BACD9;
  font-size: 0.9375rem;
}

.container__author span {
  color: #FFF;
}

.view-icon {
  width: initial;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}


@media (min-width: 700px) {

.container {
  max-width: 21.875rem;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
}

.container__title {
  margin-bottom: 1rem;
}

.container__title:hover {
  cursor: pointer;
  color: #00FFF8;
}

.container__paragraph {
  margin-bottom: 1.5rem;
}

.container__info-wrapper {
  margin-bottom: 1.5rem;
}

.container__author span:hover {
  cursor: pointer;
  color: #00FFF8;
}

.container__img {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0);
}

.overlay:hover {
  background-color: rgba(0, 255, 248, .5);
  border-radius: 8px;
}

.overlay:hover .view-icon {
  display: block;
}


}